<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center" style="font-family: poppins; text-transform:uppercase;font-weight:bold;letter-spacing:2px;">My StoryBooks</a>
        
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav " id="mobile-demo" style="padding-top:10px; ">
            <li ><a href="/stories" style="font-family: poppins; text-transform:uppercase; font-weight:bold;letter-spacing:2px;">Public Stories</a></li>
            <li ><a href="/dashboard" style="font-family: poppins; text-transform:uppercase;font-weight:bold;letter-spacing:2px;">Dashboard</a></li>
            <li ><a href="/auth/logout" style="font-family: poppins; text-transform:uppercase;font-weight:bold;letter-spacing:2px;">Logout</a></li>
        </ul>        
    </div>
</nav>