<i class="fas fa-bookmark fa-4x" style="color: #4c4c4c;"></i>
<h4 style="text-transform: uppercase; font-weight:bold; letter-spacing:2px; font-size:30px;">  My StoryBooks</h4>
<div class="section">
    <p class="lead" style="font-size:16px;font-weight:bold;color:#4c4c4c;">Create public and private stories from your life </p>
    
</div>
<div class="divider">
    
</div>
<div class="section">
    <a href="/auth/google" class="btn" style="letter-spacing:2px; background-color:#cf1b1b">
    <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>
<div class="divider"></div>
<div class="section">
    
   <a href="https://www.facebook.com" <i class="fab fa-facebook-square fa-2x" style="color: #0f4c75;"></i> </a>
    <a href="https://www.twitter.com" <i class="fab fa-twitter-square fa-2x"></i> </a>
    <a href="https://www.instagram.com" <i class="fab fa-instagram-square fa-2x" style="color: #cf1b1b;"></i> </a>
</div>